<table class="table">
  <thead>
   <tr>
     <th>image</th>
     <th>name</th>
     <th></th>
     <th></th>
     <th></th>
   </tr>
  </thead>
  <tbody>
   <% users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image, size: '100x100' %></td>
      <td><%= user.name %></td>
      <td>フォロー数：<%= user.followers.count %></td>
      <td>フォロワー数：<%= user.followeds.count %></td>
      <td><%= link_to 'Show', user %></td>
    </tr>
   <% end %>
  </tbody>
</table>