<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'layouts/errors', obj: @book %>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <td>
            <% if @book.favorited_by?(current_user) %>
             <%= link_to book_favorites_path(@book), method: :delete do %>
              <i class="fa-solid fa-heart fa-xs" style="color: #ff0000;">
                <%= @book.favorites.count %>
              </i>
             <% end %>
            <% else %>
             <%= link_to book_favorites_path(@book), method: :post do %>
              <i class="fa-solid fa-heart fa-xs">
               <%= @book.favorites.count %>
              </i>
             <% end %>
            <% end %>
          </td>
            <td>
            <% if @book.user == current_user %>
              <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %>
            <% end %>
            </td>
            <td>
             <% if @book.user == current_user %>
              <%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
             <% end %>
            </td>
            <td>コメント数<%= @book.book_comments.count %></td>
        </tr>
      </table>
      <div class="row">
        <% @book.book_comments.each do |book_comment| %>
         <%= link_to(book_comment.user) do %>
          <%= image_tag book_comment.user.get_profile_image, size:"100x100" %><br>
          <%= book_comment.user.name %>
          <% end %>
        <div class="col-md-2">
         <%= book_comment.comment %>
        </div>
         <div class="col-md-1">
         <% if book_comment.user == current_user %>
          <%= link_to 'destroy', book_book_comment_path(book_comment.book, book_comment), method: :delete, class: 'btn btn-danger' %>
         <% end %>
         </div>
        <% end %>
      </div>
        <%= form_with model: [@book, @book_comment] do |f| %>
        <div class="row">
         <%= f.text_area :comment, rows: '5', class: 'col-md-12' %>
         <%= f.submit '送信' %>
        <% end %>
        </div>
    </div>
  </div>
</div>